#banner{
    background-image:url('../images/fondo_catarata.png');
    background-position:center;
    background-size:cover;
    text-align:center;
    display:flex;
    z-index: 10;
    padding-bottom: 50px;
    flex-direction:column;
    justify-content:center;
    align-items:center}
    
#conectate {
    width:250px;
    margin-top:20px;
}

#nov9no_encuentro {
    width:250px;
    margin-top:20px;
}

#btn_registrate {
    cursor: pointer;
    font-family:helvetica-lt-std-bold;
    border-color: #FFF;
    border-radius: 10px;
    border-width: 3px;
    margin-top:20px;
    background-color: #FFF;
    border-style: solid;
    color: #000;
    font-size: 20pt;
    padding:5px 7px;
    text-decoration: none;
}

#btn_registrate:hover {
    background-color: transparent;
    color: #FFF;
}

#fondo {
    background-image: url('../images/fondo_textura.png');
    background-position:center;
    background-size:cover;
    height: 400px;
    z-index: 10;
    padding-left: 30px;
    padding-right: 30px;
}

#fondo_blanco {
    z-index: 20;
    width: 100%;
    height: 400px;
    position: relative;
    top: -40px;
    padding: 20px;
    background-color: #FFF;

    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;

    font-family: helvetica-lt-std-bold;
}

#info_block {
    position: absolute;
    top: 90px;
    right: 40px;
    text-align: right;
    line-height: 1.2;
}

#contacto {
    position: absolute;
    bottom: 0;   
    left: 20px;
    font-size: 10pt;
    color: #666;
    line-height: 1.2;
    text-align: left;
}

#email {
    position: absolute;
    bottom: 135px;   
    right: -120px;
    
    font-size: 8pt;
    color: #555;
    line-height: 1.2;
    text-align: right;

    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform: rotate(-90deg);
}

#logo_ujim {
    width:200px;
    position: absolute;
    top: 20px;
    align-self: center;
}

#btn_registrate2 {display: none;}

@media only screen and (min-width:992px){
    #conectate {width:200px;margin: 0}
    
    #nov9no_encuentro {width:250px;margin-top:20px;}

    #contenedor {display: flex;}
    
    #banner {
        width: 45% !important;

        justify-content: flex-start;
        align-items: flex-start;
        padding: 30px;
    }

    #fondo {
        width: 55% ;
        height: auto;
        padding-top: 20px;
        padding-right: 0;
    }

    #fondo_blanco {
        position: absolute;
        width: 60%;
        min-height: 450px;
        top: 30px;
        right: 0;
    }

    #logo_ujim {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #info_block {
        position: absolute;
        top: 120px;
        right: 150px;
        text-align: right;
        line-height: 1.2;
    }

    #btn_registrate {display: none;}

    #btn_registrate2 {
        display: block;

        position: absolute;
        bottom: 10px;

        cursor: pointer;
        font-family:helvetica-lt-std-bold;
        color: #000;
        font-size: 20pt;
        text-decoration: none;
    }

    #btn_registrate2:hover {color: #444;}

    #contacto {
        position: absolute;
        bottom: 15px;   
        right: 70px;
        font-size: 10pt;
        color: #666;
        line-height: 1.2;
        text-align: right;
    }

    #email {
        position: absolute;
        bottom: 150px;   
        right: -120px;
        
        font-size: 8pt;
        color: #555;
        line-height: 1.2;
        text-align: right;
    
        -webkit-transform:rotate(-90deg);
        -moz-transform:rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform:rotate(-90deg);
        transform: rotate(-90deg);
    }
}